*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#game{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

#game-board{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16,33px);
    grid-template-rows: repeat(16,33px);
    grid-column-gap: 0;
}

.cells{
    /*border-radius: 50%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid black;*/
    background-color: white;
}

#game-list{
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#game-list h3{
    margin-bottom: 15px;
}

#list-words{
    height: 100%;
    overflow-y: scroll;
}

#list-words li{
    text-decoration: none;
    list-style: none;
    text-align: center;
}

/*animations*/

.found-animation{
    animation-duration: 2s;
    animation-name: found;
}

@keyframes found {
    0% {
        transform: rotate(0);
        border-radius: 0;
        font-size: 1em;
    }
    50% {
        transform: rotate(180);
        border-radius: 50%;
        font-size: 1.5em;
    }
    100% {
        transform: rotate(180);
        border-radius: 0;
        font-size: 1em;
    }
}